#### Step 1: Important Libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
a = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(a, sep='\t')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
# Number of rows and columns
chipo.shape

(4622, 5)

In [5]:
#Number of columns
chipo.shape[1]

5

In [6]:
# number of rows
len(chipo)

4622

In [7]:
# name of the columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
# how is the datset index
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [61]:
# which was the most-ordered item?
a = chipo.groupby('item_name').sum().sort_values(by='quantity', ascending=False).head()
a

                     order_id  quantity  item_price  revenue
item_name
Chicken Bowl           713926       761     7342.73  8044.63
Chicken Burrito        497303       591     5575.82  6387.06
Chips and Guacamole    449959       506     2201.04  2475.62
Steak Burrito          328437       386     3851.43  4236.13
Canned Soft Drink      304753       351      438.75   603.75

In [66]:
# for the most-ordered item, how many times was it ordered?
a = chipo.groupby('item_name').sum().sort_values(by='quantity', ascending=False).head(1)
a

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63

In [68]:
# for the most-ordered item, in the choice_description column
b = chipo.groupby('choice_description').sum().sort_values(by='quantity', ascending=False).head(1)
b

                    order_id  quantity  item_price  revenue
choice_description
[Diet Coke]           123455       159      326.71   408.41

In [69]:
# for the most-ordered item, in the choice_description column, how many times was it ordered?
b = chipo.groupby('choice_description').sum().sort_values(by='quantity', ascending=False).head(1)
b

                    order_id  quantity  item_price  revenue
choice_description
[Diet Coke]           123455       159      326.71   408.41

In [70]:
# how many items were ordered?
chipo.quantity.sum()

4972

In [14]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [15]:
# convert price to float
#chipo.item_price = chipo.item_price.str.replace('$','').astype(float)

In [16]:
chipo['item_price'].dtypes

dtype('O')

In [17]:
# lambda function to convert price to float
#chipo['item_price']= chipo['item_price'].apply(lambda x : float(x.replace('$','')))
var = lambda x : float(x.replace('$',''))
chipo['item_price'] = chipo['item_price'].apply(var)

In [18]:
chipo['item_price'].dtypes

dtype('float64')

In [19]:
#chipo.item_price = chipo.item_price.str.replace('$','')

In [20]:
#chipo.item_price.apply(lambda x : float(x))

In [28]:
# how much was the revenue for the period in the dataset
rev = (chipo['quantity'] * chipo['item_price']).sum()
rev

39237.02

In [30]:
# how many oreders were made in the period
orders = chipo.order_id.value_counts().count()
orders

1834

In [32]:
# average revenue per order
avg_rev = rev/orders
avg_rev

21.39423118865867

In [48]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [49]:
chipo.groupby(by='order_id').sum().mean()['revenue']

21.394231188658654

In [53]:
# how many different items were sold?
chipo.item_name.value_counts().count()

50