In [1]:
import pandas as pd 
pd.__version__

'1.3.4'

In [5]:
# Make a DataFrame 
data = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [6]:
data

   A  B
0  1  4
1  2  5
2  3  6

In [7]:
import numpy as np

In [8]:
# DataFrame using np.array
data = pd.DataFrame(np.random.randn(3, 4), columns=['A', 'B', 'C', 'D'])

In [9]:
data

          A         B         C         D
0  0.338147  1.741527  0.737741 -0.877153
1  0.918864  0.120922  0.644158 -0.269717
2  0.815853 -0.342245  0.840917 -0.520189

In [10]:
data.rename(columns={'A': 'a', 'B': 'b', 'C': 'c', 'D': 'd'}, inplace=True)

In [11]:
data

          a         b         c         d
0  0.338147  1.741527  0.737741 -0.877153
1  0.918864  0.120922  0.644158 -0.269717
2  0.815853 -0.342245  0.840917 -0.520189

In [30]:
data.columns = ("a_a", "b_b", "c_c", "d_d")

In [31]:
data

        a_a       b_b       c_c       d_d
0  0.338147  1.741527  0.737741 -0.877153
1  0.918864  0.120922  0.644158 -0.269717
2  0.815853 -0.342245  0.840917 -0.520189

In [26]:
data.columns=data.columns.str.replace('_', '')

In [27]:
data

         aa        bb        cc        dd
0  0.338147  1.741527  0.737741 -0.877153
1  0.918864  0.120922  0.644158 -0.269717
2  0.815853 -0.342245  0.840917 -0.520189

In [34]:
# Adding prefix to columns
data.add_prefix('pre_')

     pre_aa    pre_bb    pre_cc    pre_dd
0  0.338147  1.741527  0.737741 -0.877153
1  0.918864  0.120922  0.644158 -0.269717
2  0.815853 -0.342245  0.840917 -0.520189

In [35]:
data

         aa        bb        cc        dd
0  0.338147  1.741527  0.737741 -0.877153
1  0.918864  0.120922  0.644158 -0.269717
2  0.815853 -0.342245  0.840917 -0.520189

In [58]:
def solution(n, a):
    b= a
    b[0] = 0 + a[0] + a[1]
    for i in range(n-2):
        b[i]=a[i] + a[i+1] + a[i+2]

In [70]:
def solution(n, a):
    b = a 
    b[0] = 0 + a[0] + a[1]
    for i in range(n):
        for j in range(i-1):
            b[j] = a[j] + a[j+1] + a[j+2]

In [71]:
n = 5 
a = [4, 0, 1, -2, 3]
solution (n, a)

In [72]:
b

[6, -2, 2, -2, 3]

In [66]:
b =a

In [50]:
b

[4, 0, 1, -2, 3]